{% extends "base.html" %}

<!--  -->
{% block styles %}
<link rel="stylesheet" href="/course_list.css" />
{% endblock %}

<!--  -->
{% block page_content %}
<div class="paper">
    <div class="paper-head">
        <div id="new-btn" class="btn">新建课程计划</div>
        <div id="new-btn_2" class="btn"><a href="/student/course_student">课程及学生名单</a></div>
    </div>
    <div class="paper-body">
        <table id="course-table" class="table">
            <thead>
                <tr>
                    <th class="sch_term">学期</th>
                    <th class="cou_plan_name">课程名</th>
                    <th class="cou_plan_time">开课时间</th>
                    <th class="cou_plan_place">开课地点</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="course-editor dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">         
                <input type="hidden" name="cou_plan_sn" />
                <label>学期: </label>
                <input type="text" name="sch_term" />
                <label>课程名: </label>
                <input type="text" name="cou_plan_name" />
                <label>开课时间: </label>
                <input type="text" name="cou_plan_time" />
                <label>开课地点: </label>
                <input type="text" name="cou_plan_place" />
            </div>
            <div class="dialog-footer">
                <a id="save-btn" class="btn">保存</a>
                <a id="close-btn" class="btn">关闭</a>
            </div>
        </form>
    </div>
    <div class="comfirmation-dialog dialog-background">
        <form class="dialog">
            <div class="dialog-head"></div>
            <div class="dialog-body">
                <div id="message"></div>
            </div>
            <div class="dialog-footer">
                <a id="ok-btn" class="btn">确定</a>
                <a id="cancel-btn" class="btn">放弃</a>
            </div>
        </form>
    </div>
</div>
<script src="/course1.js"></script>
{% endblock %}
